# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.*

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Excel temporales
~$*.xlsx
~$*.xls